/ ISSUE CARD
.rdb-card
  div class="rdb-priority rdb-priority-#{issue.priority.position}"
    header.rdb-card-header
      .rdb-card-title
        = render partial: 'rdb_dashboard/issues/issue_menu', locals: {issue: issue}
      div

    .rdb-card-progress
      .rdb-card-progress-bar style="width: #{issue.done_ratio}%"

    .rdb-card-content
      .rdb-card-tracker
        = issue.tracker
      .rdb-card-subject.rdb-property-subject = issue.subject
      .rdb-card-dates
        - if issue.due_date.present?
          span.rdb-due-date class="#{'rdb-overdue' if issue.overdue?}"
            b
              | Срок: #{format_date(issue.due_date)}
      .rdb-card-assignee
        - if issue.assigned_to
          = issue.assigned_to.name
        - else
          span.rdb-disabled = t(:rdb_unassigned)
      = render partial: 'rdb_dashboard/issues/issue_properties_rest', locals: {issue: issue}
/ ISSUE CARD END